* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

main {
    margin-top: 10rem;
    margin-left: 6.56rem;
    margin-right: 6.56rem;
}

h1 {
    margin: 2.4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.error-box {
    margin-top: 2rem;
    color: crimson;
}

hr {
    margin: 0.2rem;
}

button {
    width: 5.4rem;
    height: 1.32rem;
    margin: 0.15rem;
}

/* index */

.post-container a:hover {
    color: blue;
}

.post-container {
    background-color: lightgoldenrodyellow;
    margin-right: 10rem;
    font-size: larger;
    padding: 0.4rem;
    border: solid gray 0.07rem;
}

.post-container a {
    color: cadetblue;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/** nav */

#nav {
    background-color: darkslategray;
    font-size: x-large;
    padding: 2.5rem;
    padding-left: 4.5rem;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-link {
    text-decoration: none;
}

.nav-space {
    margin-right: 3rem;
    margin-left: 2rem;
    display: inline-flex;
    flex-direction: column;
}

.nav-space a {
    color: antiquewhite;
}

.nav-space a:hover {
    color: cadetblue;
}

.nav-link-current {
    text-decoration-thickness: 0.06rem;
    text-underline-offset: 0.5rem;
}


/* Create Post*/

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    height: min-content;
}

.form-field input, .form-field textarea{
    width: 100%;
}

.form-field textarea {
    resize: vertical;
    height: 18rem;
}

.write-form {
    margin-left: 2.64rem;
}

/* login */

.credential-form {
    margin: 2.45em;
}

/* show post */

#show-content-box {
    margin-right: 9rem;
}

#show-content {
    margin-left: 2.42rem;
}

#image-box {
    margin-left: 2.5rem;
    margin-bottom: 0.7rem;
}

#comment-section {
    margin: 5rem;
    margin-right: 13.5rem;
    border-top: 0.01rem solid black;
}

.comment {
    margin: 1rem;
    margin-right: 20rem;
    border: 0.02 solid black;
}

h2 {
    margin-top: 1rem;
    margin-left: 3.45rem;
}

form, .post-label-div p {
    display: inline;
}

select {
    width: 5.45rem;
    height: 1.32rem;
    margin-left: 0.1rem;
}

